<!-- <html> -->
{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}


<body>
	
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">NLP Model Prediction Analysis</h1>
		  <p class="lead">For this example, number of trending days for YouTube can be identified as a classification problem. This is binary classification since there are only 2 classes:</p>
		  <ul class="list-group">
			<li class="list-group-item">trending greater than 4 days</li>
			<li class="list-group-item">trending 4 days or less</li>
		  </ul>	
		
		<p class="lead">The classifier utilizes some training data to understand how given input variables relates to the class. In this case the following have been used to train the data:</p>
		<ul class="list-group">
			<li class="list-group-item">known trending days</li>
			<li class="list-group-item">length of the tag</li>
			<li class="list-group-item">YouTube category</li>
		  </ul>	
		  <p class="lead">When the classifier is trained accurately, it can be used to predict trending days for the testing data.</p>
		  <ul class="list-group">
			<li class="list-group-item">Naïve Bayes can be used on a large data set</li>
		<p class="lead">This data set for US data only has tags for 21350 records.</p>
		<br>
		<img src="../NLP_data.png" alt="Abby png">
		
		
	  </div>

<div>

</div>
</body>
{%endblock%}
</html>
