<!-- <html> -->
{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}


<body>
	
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">NLP Model Prediction Analysis</h1>
		  <p class="lead">For this example, number of trending days for YouTube can be identified as a classification problem. This is binary classification since there are only 2 classes:</p>
		  <ul class="list-group">
			<li class="list-group-item">trending greater than 4 days</li>
			<li class="list-group-item">trending 4 days or less</li>
		  </ul>	
		
		<p class="lead">The classifier utilizes some training data to understand how given input variables relates to the class. In this case the following have been used to train the data:</p>
		<ul class="list-group">
			<li class="list-group-item">known trending days</li>
			<li class="list-group-item">length of the tag</li>
			<li class="list-group-item">YouTube category</li>
		  </ul>	
		  <p class="lead">When the classifier is trained accurately, it can be used to predict trending days for the testing data.</p>
		  <ul class="list-group">
			<li class="list-group-item">Naïve Bayes can be used on a large data set</li>
		<p class="lead">This data set for US data only has tags for 21350 records.</p>
		<br>
		<img src="../NLP_data.png" alt="Abby png">
		
		
	  </div>

<div>
	<div class='tableauPlaceholder' id='viz1653368088398' style='position: relative'>
		<noscript><a href='#'>
		   <img alt='Count of Words ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WordCount_16533653350400&#47;CountofWords&#47;1_rss.png' style='border: none' /></a></noscript>
		   <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' />
		   <param name='site_root' value='' /><param name='name' value='WordCount_16533653350400&#47;CountofWords' />
		   <param name='tabs' value='no' /><param name='toolbar' value='yes' />
		   <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WordCount_16533653350400&#47;CountofWords&#47;1.png' />
		   <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
		   <param name='display_spinner' value='yes' />
		   <param name='display_overlay' value='yes' />
		   <param name='display_count' value='yes' />
		   <param name='language' value='en-US' />
		   <param name='filter' value='publish=yes' />
		   </object>
		   </div>
		   <script type='text/javascript'>
		   var divElement = document.getElementById('viz1653368088398');
		   var vizElement = divElement.getElementsByTagName('object')[0];
		   vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
		   var scriptElement = document.createElement('script');
		   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		   vizElement.parentNode.insertBefore(scriptElement, vizElement);             
		   </script>
</div>
</body>
{%endblock%}
</html>
