{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}

<body>
  <script src="./static/js/app.js"></script>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
    <h1>Dashboard</h1>
  </div>
  <div class="col-md-4">
  <div class="well">
    <h5>Category Name:</h5>
    <select id="selDataset1" onchange="optionChanged(this.value)"></select>
  </div>
</div>
</div> 
</div>   
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h5>Top 5 Trending YouTube Videos Today!</h5>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Top 5 Videos of day</a><br>
        <table border = "1" cellpadding = "5" cellspacing = "5" font :"8px">
          <tr>
            <th>Title</th>
            <!-- <th>Summary</th> -->
            <th>Video Link</th>
          </tr>
          <tr>
            <td>{{trending_videos["trends"][0]["title"]}}</td>
            <!-- <td>{{trending_videos["trends"][0]["summary"]}}</td> -->
            <td onclick=location.href="{{trending_videos["trends"][0]["video_link"]}}"><a href="{{trending_videos["trends"][0]["video_link"]}}">{{trending_videos["trends"][0]["video_link"]}}</a></td>
          </tr>
          <tr>
            <td>{{trending_videos["trends"][1]["title"]}}</td>
            <!-- <td>{{trending_videos["trends"][1]["summary"]}}</td> -->
            <td onclick=location.href="{{trending_videos["trends"][1]["video_link"]}}"><a href="{{trending_videos["trends"][1]["video_link"]}}">{{trending_videos["trends"][1]["video_link"]}}</a></td>
          </tr>
          <tr>
            <td>{{trending_videos["trends"][2]["title"]}}</td>
            <!-- <td>{{trending_videos["trends"][2]["summary"]}}</td> -->
            <td onclick=location.href="{{trending_videos["trends"][2]["video_link"]}}"><a href="{{trending_videos["trends"][2]["video_link"]}}">{{trending_videos["trends"][2]["video_link"]}}</a></td>
          </tr>
          <tr>
            <td>{{trending_videos["trends"][3]["title"]}}</td>
            <!-- <td>{{trending_videos["trends"][3]["summary"]}}</td> -->
            <td onclick=location.href="{{trending_videos["trends"][3]["video_link"]}}"><a href="{{trending_videos["trends"][3]["video_link"]}}">{{trending_videos["trends"][3]["video_link"]}}</a></td>
          </tr>
          <tr>
            <td>{{trending_videos["trends"][4]["title"]}}</td>
            <!-- <td>{{trending_videos["trends"][4]["summary"]}}</td> -->
            <td onclick=location.href="{{trending_videos["trends"][4]["video_link"]}}"><a href="{{trending_videos["trends"][4]["video_link"]}}">{{trending_videos["trends"][4]["video_link"]}}</a></td>
          </tr>
        </table>
      </div>
      <div class="col-md-4"> 

        <h3>Total Days Trending</h3>
        
          <div id="bar1"></div>
      </div>       
      <div class="col-md-4"> 
        <h3>Total Views</h3>
          <div id="bar2"></div>
      </div>
      <div class="row">
      <h1>Trending Video</h1>
      <div id='chart' class='chart'></div>
         
     
   
    
  </div>    
       
  <!-- <script src="./static/js/app.js"></script> -->

</body>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
{%endblock%}
</html>