{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}
<body>
  <div class="container">
  <div class="row">
    <h1>Dashboard</h1>
    </div>
  </div>
      
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Top 5 Videos of day</a><br>
      </div>
      <div class="col-md-4">
        <h3>Visualizations</h3>
        <!-- <div><title>Bar Chart</title>
          <div id="bar"></div>
        </div> -->
        <div class="card" style="width: 18rem;">
           <img src=".\static\youtube-logo.png" class="card-img-top" alt="visual">
            <div class="card-body">
            <p class="card-text">By Category</p>
           </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src=".\static\youtube-logo.png" class="card-img-top" alt="visual">
           <div class="card-body">
           <p class="card-text">By Country</p>
          </div>
        </div>
      </div>  
      <div class="col-md-4">  
        <h3>Streaming Videos by Country</h3>
        <div class="col-2">
          <select id="selDataset">
            {% for x in countries %}
            <option>{{x}}</option>
            {% endfor %}
            </select>    
        
            <a href="#"><img src=".\static\js\worldmap.jpg" class="img-responsive" alt="World Map"/></a> 
        
            <h3>Select Video category:</h3>
            <select id="selDataset">
              {% for x in all_cat_codes %}
              <option>{{x}}</option>
              {% endfor %}
            </select>
          </div>
     </div>
     </div>
    <div class="row">
      <div class="col-md-8"> 
        <h3>Bar Chart</h3>
          <div id="bar1"></div>
      </div>         
    </div>
  </div>    
  {%endblock%}      
</body>
</html>
