{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}
<body>
  <div class="container">
  <div class="row">
    <h1>Dashboard</h1>
  </div>
      
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Top 5 Videos of day</a><br>

      </div>
      <div class="col-md-4">
        <h3>Visualizations</h3>
        <div class="card" style="width: 18rem;">
           <img src="../images/youtube-logo.png" class="card-img-top" alt="visual">
            <div class="card-body">
            <p class="card-text">By Category</p>
           </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../images/youtube-logo.png" class="card-img-top" alt="visual">
           <div class="card-body">
           <p class="card-text">By Country</p>
          </div>
        </div>
      </div>  
      <div class="col-md-4">  
        <h3>Streaming Videos by Country</h3>
        <select id="selDataset">
        <!-- GET THESE THRU js -->
          <option value="us">United States</option>
          <option value="uk">Great Britain</option>
          <option value="canada">Canada</option>
          <option value="canada">Mexico</option>
          <option value="canada">Japan</option>
          <option value="canada">South Korea</option>
          <option value="canada">Denmark</option>
          <option value="canada">France</option>
          <option value="canada">Russia</option>
          <option value="canada">India</option>
        </select>    
        
       <a href="#"><img src="../images/worldmap.jpg"/></a> <!--## class="img-responsive" alt="World Map"--> 
        <div class="well">
            <h3>Select Video category:</h3>
            <select id="selDataset" onchange="optionChanged(this.value)">
            </select>
          </div>
     </div>
    <div class="row">
      <div class="col-md-8"> 
        <div><title>Pie Chart</title>
          <div id="pie"></div>
        </div>
      </div>         
    </div>
  </div>    
  {%endblock%}      
</body>
</html>
