<!-- <html> -->
{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}


<body>
	<div class="container">
		<h3>KNN Prediction Model Input Form</h3>
	<form action="/result" method="POST">
		<label for="cat">Category</label>
		<select id="category_e" name="category_e">
			<option value="0">Autos & Vehicles</option>
			<option value="1">Comedy</option>
			<option value="2">Education</option>
			<option value="3">Entertainment</option>
			<option value="4">Film & Animation</option>
			<option value="5">Gaming</option>
			<option value="6">Howto & Style</option>
			<option value="7">Music</option>
			<option value="8">Music</option>
			<option value="9">News & Politics</option>
			<option value="10">Nonprofits & Activism</option>
			<option value="11">People & Blogs</option>
			<option value="12">Pets & Animals</option>
			<option value="13">Science & Technology</option>
			<option value="14">Sports</option>
			<option value="16">All categories</option>
		</select>
		<br>
		<br>
		<label for="pub to trend days">Publish to Trend Days</label>
		<input type="text" id="publish_to_trend" name="publish_to_trend">btw:[0-99999]
		<br>
		<br>
		<label for="pub day of week">Publish Day of Week</label>
		<select id="publish_day_num" name="publish_day_num">
		<option value="0">Any</option>
		<option value="1">Sunday</option>
		<option value="2">Monday</option>
		<option value="3">Tuesday</option>
		<option value="4">Wednesday</option>
		<option value="5">Thursday</option>
		<option value="6">Friday</option>
		<option value="2">Saturday</option>
		</select>
		<br>
		<br>
		<label for="views">Pre-Trending Views Range</label>
		<input type="text" id="pt_views" name="pt_views">btw:[0-99999]
		<br>
		<br>
		<label for="likes">Pre-Trending Likes Range</label>
		<input type="text" id="pt_likes" name="pt_likes">btw:[0-99999]
		<br>
		<br>
		<label for="dislikes">Pre-Trending Dislikes Range</label>
		<input type="text" id="pt_dislikes" name="pt_dislikes">btw:[0-99999]
		<br>
		<br>
		<label for="comments">Pre-Trending Comments Range</label>
		<input type="text" id="pt_comments" name="pt_comments">btw:[0-99999]
		<br>
		<br>
		<label for="likes ratio">Pre-Trending Likes Ratio Range</label>
		<input type="text" id="likes_ratio" name="likes_ratio">btw:[0-99999]
		<br>
		<br>
		<label for="comments ratio">Pre-Trending Comments Ratio Range</label>
		<input type="text" id="comments_ratio" name="comments_ratio">btw:[0-99999]
		<br>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>
</body>
{%endblock%}
</html>
