{% extends "base.html" %}
{% block title %}User Engagement{% endblock %}

{%block content%}
<head>
  <script src="./static/js/app_user2.js"></script>
</head>

<body>
<div class="container">
  <div class="row">
   <h3>Features Visualizations</h3>
    <div class="col-md-6">
      <h4>Days Between Publish and Trend</h4>
      <div id='chart8' class='chart' width="600" height="400"></div>
      <script type='text/javascript'>
        var graphs = {{graphJSON8 | safe}};
        Plotly.plot('chart8',graphs,{});
      </script>   
    </div>
    <div class="col-md-6">
      <h4>Category to Day of Week</h4>
      <div id='chart9' class='chart' width="600" height="400"></div>
      <script type='text/javascript'>
        var graphs = {{graphJSON9 | safe}};
        Plotly.plot('chart9',graphs,{});
      </script>   
    </div>  
  </div> 
  <div class="row">
    <div class="col-md-6">    
      <h4>Feature Importance</h4>
      <div id='chart10' class='chart' width="600" height="400"></div>
      <script type='text/javascript'>
        var graphs = {{graphJSON10 | safe}};
        Plotly.plot('chart10',graphs,{});
      </script>   
    </div>    
      
  </div>
</div> 
       
     
    
  
  {%endblock%}   
  
    


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  

</body>
</html>
