{% extends "base.html" %}
{% block title %}Trending YouTube Videos {% endblock %}

{%block content%}
<body>
  
    <h1>What are the top channels?</h1>
    <div id='chart' class='chart'></div>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
    <h1>What are the top categories?</h1>
    <div id='chart9' class='chart'></div>
    <script type='text/javascript'>
      var graphs = {{graphJSON1 | safe}};
      Plotly.plot('chart9',graphs,{});
    </script>


  {%endblock%}  
</body>
</html>
