<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Trending YouTube Videos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
  <div class="row">
    <h1>Visualizations</h1>
  </div>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MICA Team</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user_eng.html">Visualizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="world_map.html">World Map</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Histogram Visualizations</h3>
      </div>
     </div> 
     <div class="row">  
     <div class="col-md-12">
        <h3>Visualizations</h3>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../Resources/YouTube-White-Full-Color-Dark-Background-Logo.wine.svg" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">1st visual</p>
         </div>
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../Resources/YouTube-White-Full-Color-Dark-Background-Logo.wine.svg" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">2nd visual</p>
         </div>
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../Resources/YouTube-White-Full-Color-Dark-Background-Logo.wine.svg" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">3rd visual</p>
         </div>
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../Resources/YouTube-White-Full-Color-Dark-Background-Logo.wine.svg" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">4th visual</p>
         </div>
        </div>
      </div>      
        
    </div>
  </div>
     <div class="container">
      <div class="row">
        <div class="col-md-6" id="yt">
          <h3>Heat Map</h3>
           <a href="#"><img src="../Resources/YouTube-White-Full-Color-Dark-Background-Logo.wine.svg" class="img-responsive" alt="Heat Map"></a>
        </div>
      </div>
    </div>      
  </div>  
  
     
 
    


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  

</body>
</html>
