{% extends "base.html" %}
{% block title %}User Engagement{% endblock %}

{%block content%}
<head>
  <script src="./static/js/app_user.js"></script>
</head>

<body>
  <div class="container">
  <div class="row">
    <h1>Visualizations</h1>
  </div>
   
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Histogram Visualizations</h3>
      </div>
     </div> 
     <div class="row">  
     <div class="col-md-12">
        <h3>Visualizations</h3>
      </div>
    </div> 
    <div class="row">
      <h3>Total Days Trending</h3>
          <div id="bar1"></div>
      </div>   
      <h3>Total Days Trending</h3>
          <div id="bar2"></div>
      </div>
      <!-- <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../static/youtube-logo.png" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">1st visual</p>
         </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../static/youtube-logo.png" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">2nd visual</p>
         </div>
        </div>
      </div> -->
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../static/youtube-logo.png" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">3rd visual</p>
         </div>
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="card" style="width: 18rem;">
         <img src="../static/youtube-logo.png" class="card-img-top" alt="visual">
          <div class="card-body">
          <p class="card-text">4th visual</p>
         </div>
        </div>
      </div>      
        
    </div>
  </div>
     <div class="container">
      <div class="row">
        <div class="col-md-6" id="yt">
          <h3>Heat Map</h3>
           <a href="#"><img src="../static/youtube-logo.png" class="img-responsive" alt="Heat Map"></a>
        </div>
      </div>
    </div>      
  </div>  
  
  {%endblock%}   
 
    


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  

</body>
</html>
