{% extends "base.html" %}
{% block title %}World Map {% endblock %}

{%block content%}

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  

  <!-- D3 Library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container">
    <h1>World Map</h1>
    <div class="row justify-content-start">
      <div class="col-md-10"></div>
       <div id="map" style="width: 800px; height: 600px;"></div> 
      
      <div class="col-2">
        <select id="selDataset">
          {% for x in countries %}
          <option>{{x}}</option>
          {% endfor %}
          </select> 
      </div>
     </div>
  </div>   

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script type="text/javascript" src="../static/js/mapscript.js"></script>
  <script type="text/javascript" src="../static/js/chris.js"></script>
  {%endblock%}  
</body>
</html>
